.DS_Store
.dart_tool/
.packages
build/
pubspec.lock
*.iml
.idea/
.vscode/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties
android/key.properties
lib/firebase_options.dart
GoogleService-Info.plist
google-services.json
